<aside class="left-sidebar">
  <nav>
    <ul class="menu-list">

      <li>
        <a href="../pages/zoonoses.html">
          <span class="menu-icon">🦠</span>
          <span>Zoonoses</span>
        </a>
      </li>

      <li>
        <a href="../pages/vacinas.html">
          <span class="menu-icon">💉</span>
          <span>Vacinas</span>
        </a>
      </li>

      <li>
        <a href="../pages/adotar.html">
          <span class="menu-icon">💗</span>
          <span>Quero adotar</span>
        </a>
      </li>

      <li>
        <a href="../pages/chat.html">
          <span class="menu-icon">💬</span>
          <span>Chat</span>
        </a>
      </li>

    </ul>
  </nav>
</aside>