<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
<div class="container-fluid">
    <script src="../js/script.js"></script>
    <!-- Logo -->
    <a class="navbar-brand" href="#">
    <img src="../img/logo.svg" width="40">
    </a>

    <!-- Botão hamburguer (mobile) -->
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Menu -->
    <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav me-auto">

        <li class="nav-item">
        <a class="nav-link" href="../pages/zoonoses.html">🦠 Zoonoses</a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="../pages/vacinas.html">💉 Vacinas</a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="../pages/adotar.html">💗 Quero adotar</a>
        </li>

        <li class="nav-item">
        <a class="nav-link" href="../pages/chat.html">💬 Chat</a>
        </li>

    </ul>
    </div>

    <!-- Botão dark mode -->
    <button class id="themeToggle">🌙</button>
</div>
</nav>